{% extends 'base.html' %}
{% load static %}

{% block title %}
Appointment
{% endblock title %}


{% block css-static-link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
{% endblock css-static-link %}


{% block container-content %}

  <div class="section-for-sign-in mt-4">
        <div class="appointment-header">
            <h1 class="h1-text-for-appoitment mb-3"><b>Sign In To Book Appointment</b></h1>
            <div class="question-text">do not have an account? <a href="{% url 'sign-up' %}">Sign Up</a></div>
        </div>

<div class="container mt-5">

    <h2>Sign In</h2>

    {% include 'message.html' %}

    {% include 'form-fields.html' %}
   
    </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        {% if messages %}
            {% for message in messages %}
                // Set the message text in the modal
                $('#modalMessage').text('{{ message }}');
    
                // Check if the message is a success message
                {% if message.tags == 'success' %}
                    // Show the modal only for success messages
                    $('#messageModal').modal('show');
    
                    // Handle the OK button click for success
                    $('#modalOkButton').on('click', function () {
                        window.location.href = "{% url 'booking' %}"; // Redirect to booking.html
                    });
    
                    // Handle modal hidden event for success
                    $('#messageModal').on('hidden.bs.modal', function () {
                        window.location.href = "{% url 'booking' %}"; // Redirect to booking.html
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
    });
    </script>
    
    
{% endblock container-content %}
    