{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>
<body>
    <div class="container">

        <div class="header">

        <div class="logo">
            <h1>Aspire QMD</h1>
        </div>

        <div class="nav">
            <ul>

                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url 'appointment' %}" >Sign In</a></li>
                <li><a href="{% url 'sign-up' %}">Sign UP</a></li>

            </ul>
        </div>


    </div>

      <div class="section-for-sign-in">
    <div class="appointment-header">
        <h1 class="h1-text-for-appoitment">Sign In To Book Appointment</h1>
        <div class="question-text">do not have an account? <a href="{% url 'sign-up' %}">Sign Up</a></div>
    </div>


    <div class="Sign-In-Form">
        <form class="">
           <label for=""><span class="important">*</span>Email:</label>
           <br>
           <input type="text"  id="Email" required>
           <br><br>
           <label for=""><span class="important">*</span>Password:</label><br>
            <input type="password"  id="Password" required>
            <br><br>
            <div class="select-div">
            <input type="submit" value="submit" class="btn-sign-in" id="btn-sign-in">
        </form>

    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>