{% extends 'base.html' %}
{% load static %} 
{% block title %}
Booking List
{% endblock title %}
{% block css-static-link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
{% endblock css-static-link %}
    
{% block container-content %}

<div class="container">

    <div class="content">
        <br><br>
        <h2 style="text-align:center; font-size:35px;">Bookings</h2>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Reason For Appointment</th>
                <th>View Details</th>
                <th>Update</th>
                <th>Delete</th>
               
              </tr>
            </thead>
            <tbody>
             {% for booking in booking_list %}
              <tr>
                <th scope="row">{{booking.id}}</th>
                <td>{{booking.date}}</td>
                <td>{{booking.textarea}}</td>
                <td><a href="" style="font-size:30px;"><button class="btn btn-primary">View Details</button></a></td>
                <td><a href=""><button class="btn btn-primary">Update</button></a></td>
                <td>
                    <form action="" method="POST" style="display:inline;">
                        {% csrf_token %}
                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this meeting?');">Delete</button></td>
                </form> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock container-content %}
    