{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspire Service QMD</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        #disability{
            width: 50px !important;
        }
    </style>
</head>
<body>
    
    <div class="container container-media">
        <div class="header">

        <div class="logo">
            <h1>MindHaven</h1>
        </div>

        <div class="nav">
            <ul>
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#Service-section">Services</a></li>
                <li><a href="#contact-us" id="contact-align">Contact Us</a></li>
                <li><input type="text" placeholder="search our service" class="txtsearch"><button class="btn-search">Search</button></li>
            </ul>
        </div>

    </div>

    <div class="banner">
        <div class="appointment">
            <a href="{% url 'appointment' %}" class="appointment-text"><h2 class="h2-text-appointment">Book Appointment</h2></a>
        </div>
    </div>


    <div class="Service-section" id="Service-section">

        <div><h1 class="our-services">OUR SERVICES</h1></div>

        <div ><h1 class="h-m">HOUSING AND MENTAL HEALTH SUPPORT</h1></div>

        <div class="images-for-service-type">
             <img src="{% static 'images/mental-health-support.jpeg' %}" alt="" class="image-service">
             <img src="{% static 'images/group-staff.jpg' %}" alt="" class="image-service">  
             <img src="{% static 'images/support-6.jpg' %}" alt="" class="image-service">
             <img src="{% static 'images/cashier.jpg' %}" alt="" class="image-service">  
             <img src="{% static 'images/helping-pic.jpg' %}" alt="" class="image-service">
             <img src="{% static 'images/helping-pic.jpg' %}" alt="" class="image-service">
        </div>
    </div>

    <div class="counseling"><h1>COUNSELING BY SKILLED PSYCHOLOGIST</h1></div>
    <div>
        <img src="{% static 'images/cashier.jpg' %}" alt="" class="skilled-counsellor">
    </div>
    <h1 class="contact-us-text">Contact Us</h1>
    <div class="asteric">all fields marked with * are important</div>
    <div id="contact-us">
        
        <form action="" class="contact-us" action="{% url 'contact' %}">

            {% csrf_token %}

           {% for field in form %}
                <div class="mb-3">
                    <!-- Render the label with Bootstrap form-label class -->
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    
                    <!-- Render the field itself with Bootstrap form-control class -->
                    {{ field }}
                    
                    <!-- Display any validation errors for this field -->
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" value="submit" class="btn-submit-form" id="reach-out">

        </div>
        </form>

    </div>

    <div class="footer">
        <h4 class="footer-text">All right reserved &copy; 2024 Aspire QMD.</h4>
    </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    
</body>
</html>